:host {
  @apply block text-center px-4 min-h-screen;
}

h1 {
  @apply my-10 font-bold text-xs;
}

label {
  @apply text-sm text-left text-ob-black;
}

input {
  @apply border border-ob-gray/50 rounded-xl h-12 w-full;

  &:focus-visible {
    outline: none;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.transfer {
  @apply flex flex-col gap-8 justify-start items-center max-w-xl mx-auto;
  @apply w-full px-4 py-10 lg:py-16 lg:px-10;
  @apply border border-ob-gray/40 rounded-3xl bg-white/40 shadow-lg;

  &__amount {
    @apply w-full;

    &__input {
      @apply text-4xl bg-transparent w-full border-none mt-4;
      text-align: center !important;
    }

    .error-container {
      @apply h-1;
    }
    &__error-message {
      @apply text-xs text-ob-danger-red;
    }
  }

  &__details {
    @apply w-full flex flex-col gap-4;

    &__field {
      @apply text-left;

      &__label {
        @apply text-ob-terciary-dark-green;
      }

      .error-container {
        @apply h-1;
      }
      &__error-message {
        @apply text-xs text-ob-danger-red pl-2 pt-1;
      }

      input {
        @apply pl-4;
      }
    }
  }

  &__submit {
    @apply w-full text-white font-bold bg-ob-main-bright-green h-20 rounded-full border-4 border-ob-secondary-light-green hover:bg-ob-main-bright-green/90;
  }
  &__submit:disabled {
    @apply bg-ob-main-bright-green/80 border-zinc-300;
  }
}

.powered {
  @apply flex gap-1 justify-center items-center mt-4 text-xs font-bold;
}
