<app-sub-nav-mobile page="Transferir dinero"></app-sub-nav-mobile>

<form class="transfer" [formGroup]="transferForm" (ngSubmit)="onSubmit()">
  <!-- Campo de Monto -->
  <fieldset class="transfer__amount">
    <label for="transfer-amount" class="transfer__amount__label">
      Monto a transferir
    </label>

    <input
      class="transfer__amount__input"
      type="tel"
      id="transfer-amount"
      name="amount"
      placeholder="0.00"
      aria-label="Monto a transferir"
      currencyMask
      [currencyMask]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
      formControlName="amount"
      (focus)="moveCursorToEnd($event)"
    />

    <div class="error-container">
      <p
        class="transfer__amount__error-message"
        *ngIf="amountCtl?.invalid && (amountCtl?.touched || amountCtl?.dirty)"
      >
        {{ getErrorMessage("amount") }}
      </p>
    </div>
  </fieldset>

  <!-- Campo de Cuenta destino -->
  <fieldset class="transfer__details">
    <div class="transfer__details__field">
      <label for="transfer-destino" class="transfer__details__field__label">
        <span class="icon-[heroicons--user-solid]"></span> Cuenta destino
      </label>

      <input
        type="text"
        name="destino"
        id="transfer-destino"
        aria-label="Cuenta destino"
        formControlName="destination"
      />

      <div class="error-container">
        <p
          class="transfer__details__field__error-message"
          *ngIf="
            destinationCtl?.invalid &&
            (destinationCtl?.touched || destinationCtl?.dirty)
          "
        >
          {{ getErrorMessage("destination") }}
        </p>
      </div>
    </div>

    <!-- Campo de Descripción -->
    <div class="transfer__details__field">
      <label
        for="transfer-descripcion"
        class="transfer__details__field__labels__label"
      >
        <span class="icon-[heroicons--document-text-solid]"></span> Descripción
      </label>
      <input
        type="text"
        name="descripcion"
        id="transfer-descripcion"
        aria-label="Descripción"
        formControlName="description"
      />
      <div class="error-container">
        <p
          class="transfer__details__field__error-message"
          *ngIf="
            descriptionCtl?.invalid &&
            (descriptionCtl?.touched || descriptionCtl?.dirty)
          "
        >
          {{ getErrorMessage("description") }}
        </p>
      </div>
    </div>
  </fieldset>

  <button
    type="button"
    class="transfer__submit"
    [disabled]="!transferForm.valid"
    (click)="onSubmit()"
  >
    Transferir
    <span class="icon-[heroicons--banknotes-solid]" aria-hidden="true"></span>
  </button>
</form>

<app-transfer-confirm
  *ngIf="showModal()"
  [transferData]="transferBody"
  (confirmed)="onModalConfirmed($event)"
>
</app-transfer-confirm>

<p class="powered">
  powered by
  <img
    src="images/Isologo-text-right@OB.svg"
    alt="logo"
    width="100"
    height="auto"
  />
</p>
