<app-sub-nav-mobile page="Transferir dinero" />

<form [ngClass]="['transfer']" method="" action="">
  <!-- Monto de la transferencia -->
  <fieldset class="transfer__amount">
    <label for="transfer-amount" class="visually-hidden transfer__amount__label"
      >Monto a transferir</label
    >
    <div class="transfer__amount__input">
      <span class="transfer__amount__input__symbol">$</span>
      <input
        class="transfer__amount__input__number"
        type="text"
        id="transfer-amount"
        name="amount"
        placeholder="0.00"
        aria-label="Monto a transferir"
        required
      />
    </div>
  </fieldset>

  <!-- Detalles de la transferencia -->
  <fieldset class="transfer__details">
    <div class="transfer__details__field">
      <label for="transfer-destino">
        <span class="icon-[heroicons--user-solid]"></span>
        Cuenta destino
      </label>
      <input
        type="text"
        name="destino"
        id="transfer-destino"
        placeholder=""
        required
        aria-label="Cuenta destino"
      />
    </div>

    <div class="transfer__details__field">
      <label for="transfer-descripcion">
        <span class="icon-[heroicons--document-text-solid]"></span>
        Descripción
      </label>
      <input
        type="text"
        name="descripcion"
        id="transfer-descripcion"
        placeholder=""
        aria-label="Descripción"
      />
    </div>
  </fieldset>

  <!-- Botón de envío -->
  <button type="submit" class="transfer__submit">
    Transferir
    <span class="icon-[heroicons--banknotes-solid]" aria-hidden="true"></span>
  </button>
</form>

<p class="powered">
  powered by
  <img
    src="images/Isologo-text-right@OB.svg"
    alt="logo"
    width="100"
    height="auto"
  />
</p>
