<nav class="nav">
  <button routerLink="dashboard" routerLinkActive="nav__button--active" class="nav__button"
    [routerLinkActiveOptions]="{ exact: true }">
    <span class="icon-[cil--house]"></span>
  </button>

  <button routerLink="transfer" routerLinkActive="nav__button--active" class="nav__button"
    [routerLinkActiveOptions]="{ exact: true }">
    <span class="icon-[cil--swap-vertical]"></span>
  </button>

  <button routerLink="transaction/history" routerLinkActive="nav__button--active" class="nav__button"
    [routerLinkActiveOptions]="{ exact: true }">
    <span class="icon-[cil--cash]"></span>
  </button>
</nav>