/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lufga";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(assets/fonts/LufgaRegular.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(assets/fonts/LufgaBold.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(assets/fonts/LufgaExtraBold.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(assets/fonts/LufgaBlack.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(assets/fonts/LufgaThin.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(assets/fonts/LufgaLight.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(assets/fonts/LufgaMedium.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(assets/fonts/LufgaSemiBold.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(assets/fonts/LufgaExtraLight.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(assets/fonts/LufgaItalic.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(assets/fonts/LufgaBoldItalic.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(assets/fonts/LufgaExtraBoldItalic.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(assets/fonts/LufgaBlackItalic.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(assets/fonts/LufgaThinItalic.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(assets/fonts/LufgaLightItalic.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(assets/fonts/LufgaMediumItalic.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(assets/fonts/LufgaSemiBoldItalic.ttf) format("ttf");
  }

  @font-face {
    font-family: "Lufga";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(assets/fonts/LufgaExtraLightItalic.ttf) format("ttf");
  }
}

html,
body {
  font-family: "Lufga", sans-serif;
  @apply bg-gradient-to-tr from-green-50 to-red-50;
}
