:host {
  position: fixed;
  bottom: 8vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  @apply lg:hidden;
}

.nav {
  @apply flex justify-center items-center gap-1 lg:flex-col;
  @apply bg-ob-black p-1 rounded-full shadow;

  &__button {
    @apply rounded-full p-1 h-16 w-16;
    @apply bg-zinc-800 text-ob-gray;
    @apply transition-all ease-in;
    @apply duration-75;

    &--active {
      @apply bg-ob-main-bright-green text-ob-black;
      @apply -translate-y-2 lg:-translate-y-0;
    }

    span[class^="icon"] {
      @apply mt-1 text-2xl;
    }
  }
}

.footer-over {
  @apply shadow-ob-secondary-light-green/80;
}
